/* add font  */
@font-face{
    font-family: digitalClock;
    src: url(digital-7.ttf);
}
h1 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

body{
    text-align: center;
    background-image: url('icons8-team-dhZtNlvNE8M-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}   
p{
    font-family: digitalClock;
    font-size:4rem;  
}
.button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:lightblue; 
    color: black; 
    border: 2px solid #4CAF50;
    width: 120px;
    height: 25px;
}
.button:active {
    background-color: #ebb1c4;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}
.headerLine {
    width: 100px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
  }